<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117814803002-gph9hsfcpp1n1kohpl54rp2ft20urhse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117814803002-gph9hsfcpp1n1kohpl54rp2ft20urhse</string>
	<key>API_KEY</key>
	<string>AIzaSyAz_xkVXL6eghC7slSP9SPGdtC_c02h6Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>117814803002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MAURICIO.Semillero</string>
	<key>PROJECT_ID</key>
	<string>semillero-6f9d9</string>
	<key>STORAGE_BUCKET</key>
	<string>semillero-6f9d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117814803002:ios:1cae7a22ebfca7c4d25303</string>
</dict>
</plist>